@keyframes ItemAnimation {
  0% {
    padding-left: 100px;
    opacity: 0.0;
  }
  100% {
    padding-left: 0px;
    opacity: 1.0;
  }
}


.item {
  animation: ItemAnimation 0.5s;
}




// -------- https://material.angular.io/guide/theming

//fails::: @import '~@angular/material/theming';
//// Plus imports for other components in your app.
//
//// Include the common styles for Angular Material. We include this here so that you only
//// have to load a single css file for Angular Material in your app.
//// Be sure that you only ever include this mixin once!
//fails::: @include mat-core();
//// https://github.com/angular/material2/issues/4038

// ---- from flexagenda:

// @import '~@angular/material/core/theming/all-theme';

// @include md-core();
